<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1"
	android:versionName="1.0" package="org.ubicompforall.CityExplorer">
<!-- android:installLocation="preferExternal" -->
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="10"
		android:maxSdkVersion="14" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	
	<uses-permission android:name="android.permission.VIBRATE" />
	<!--uses-permission android:name="android.permission.BLUETOOTH"  Why?! -->
	
	
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true" android:allowTaskReparenting="false" android:name="CityExplorer">
	
		<uses-library android:name="com.google.android.maps" />
		<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".data.Sharing">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
		</activity><activity android:name=".data.Sharing" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter android:label="@string/opensqlite" android:icon="@drawable/icon">
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="@string/sqlitemimetype" />
			</intent-filter>
		</activity><activity android:name=".gui.CalendarActivity" android:theme="@android:style/Theme.NoTitleBar"></activity><activity android:name=".gui.CalendarActivity" android:launchMode="standard" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name=".gui.CalendarActivity" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name=".gui.ImportActivity" android:theme="@style/TabTheme"></activity>
		<activity android:name=".gui.ImportLocalTab"></activity>
		<activity android:name=".gui.NavigateFrom" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".gui.NewPoiActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".gui.NewTripActivity"></activity>
		<activity android:name=".gui.StartActivity"
			android:launchMode="singleTask" android:theme="@android:style/Theme.NoTitleBar"
			android:screenOrientation="unspecified">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".gui.SettingsActivity" android:label="@string/settings"></activity>
		
		
	
		<activity android:launchMode="standard" android:name=".gui.PlanActivity" android:theme="@style/TabTheme"><!-- singleTop? -->
			<activity android:launchMode="standard" android:name=".gui.PlanActivity"  android:theme="@android:style/Theme.NoTitleBar"><!-- singleTop? -->
				<intent-filter>
					<action android:name=".gui.ActivityPlan" />
					<category android:name="android.intent.category.DEFAULT" />
				</intent-filter>
			</activity>
			<intent-filter>
					<action android:name=".gui.ActivityPlan" />
					<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
	
		
		<activity android:name=".gui.PoiDetailsActivity" android:launchMode="standard" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name=".gui.PoiDetailsActivity" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.cityexplorer.cursor.item/vnd.cityexplorer.poi" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.cityexplorer.cursor.item/vnd.cityexplorer.poi" />
			</intent-filter>
		</activity>

		

		<activity android:name=".gui.PlanPoiTab" android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name=".gui.PlanTripTab" android:theme="@android:style/Theme.NoTitleBar">
		</activity>
	
	<!-- android:tabStripEnabled="false"  -->
	
		
	
		<activity android:name=".gui.PlanActivityTab" android:theme="@android:style/Theme.NoTitleBar"></activity>
		
		
		
		<activity android:name=".gui.TripListActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		
		<activity android:name=".map.MapsActivity" android:launchMode="standard" android:theme="@android:style/Theme.NoTitleBar">
				<activity android:name=".map.MapsActivity" android:launchMode="standard" android:theme="@android:style/Theme.NoTitleBar">
				<intent-filter>
					<action android:name=".map.MapsActivity" />
					<category android:name="android.intent.category.DEFAULT" />
				</intent-filter>
			</activity><intent-filter>
					<action android:name=".map.MapsActivity" />
					<category android:name="android.intent.category.DEFAULT" />
				</intent-filter>
			</activity>
		<activity android:name=".map.LocationActivity" android:label="@string/default_location"></activity>
		<activity android:label="@string/preferences" android:name=".gui.MyPreferencesActivity"></activity>
		<activity android:name=".gui.ImportWebTab_old" android:label="Import DB from Web"></activity>
		
	</application>
	
</manifest> 
